<section>
<%= form_for [:admin, @post], :url => admin_post_url(@post), :method => :put do |f| %>
    <p>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.check_box :published %>
    </p>
    <p>
        <%= f.text_area :body %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>

    <p>
        <%= button_to "Delete", admin_post_path(@post), :method => :delete %>
    </p>
</section>