<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Robert Dougan" />
        <title>Robert Dougan<%= " - #{@post.name}" if @post %></title>
        
        <meta name="keywords" content="robert, dougan, rdougan, sencha, touch, mobile, ios, cocoa, javascript, css, sass, scss, html, android, apple, design, theming, iphone" />
        <meta name="description" content="Blog of Robert Dougan, Software Architect at Sencha." />
        <link href="http://feeds.feedburner.com/robertdougan/blog" rel="alternate" title="robertdougan.com" type="application/atom+xml" />

        <%= stylesheet_link_tag "application" %>
        <%= csrf_meta_tags %>

        <% if @post %>
        <meta property="og:title" content="<%= @post.name %>" />
        <% else %>
        <meta property="og:title" content="Blog" />
        <% end %>
        <meta property="fb:admins" content="727937921" />
        <meta property="og:type" content="blog" />
        <meta property="og:site_name" content="Robert Dougan" />
        <meta property="og:description" content="Software Architect at Sencha" />

        <!-- Google -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-4800380-7']);
            _gaq.push(['_setDomainName', '<%= request.host %>']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    
    <body>
        <!-- Facebook -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=318225874868991";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <!-- Notices/alerts -->
        <% if notice %>
        <div class="notice"><%= notice %></div>
        <% elsif alert %>
        <div class="alert"><%= alert %></div>
        <% end %>

        <% if user_signed_in? %>
        <!-- Admin -->
        <div class="admin-nav">
            <%= link_to "Administration", admin_posts_url %>
            <%= button_to "Sign out", destroy_user_session_url, :method => :delete %>
        </div>
        <% end %>
        
        <!-- Header -->
        <header>
            <h1><a href="/">robert dougan</a></h1>
            <h2>Software Architect at <a href="http://sencha.com" target="_blank" />Sencha</a></h2>
        </header>

        <section class="body">
            <%= yield %>
        </section>

        <footer>
            &copy; Robert Dougan 2011.
        </footer>

    </body>
</html>
